/* EOY Annual Charts CSS Stylesheet for RMDs*/

/* --Media Queries-- */
@media (min-width: 320px) {
   .highcharts-title{
    font-size: 18px !important
  }

  .highcharts-subtitle{
    font-size: 16px !important
  }

  .highcharts-axis-labels{
    font-size: 10px !important
  }

  .highcharts-axis-labels .highcharts-xaxis-labels{
    font-size: 10px !important
  }

  .highcharts-axis-labels .highcharts-yaxis-labels{
    font-size: 10px !important
  }

  .highcharts-caption{
    font-size: 16px !important
  }
  
  .highcharts-data-label {
  font-size: 10px !important
  }

}


@media (min-width: 480px) {
   .highcharts-title{
    font-size: 21px !important
  }

  .highcharts-subtitle{
    font-size: 16px !important
  }

  .highcharts-axis-labels{
    font-size: 10px !important
  }

  .highcharts-axis-labels .highcharts-xaxis-labels{
    font-size: 10px !important
  }

  .highcharts-axis-labels .highcharts-yaxis-labels{
    font-size: 10px !important
  }

  .highcharts-caption{
    font-size: 18px !important
  }
  
  .highcharts-data-label {
  font-size: 10px !important
  }

}

@media (min-width: 768px) {
  .highcharts-title{
    font-size: 25px !important
  }

  .highcharts-subtitle{
    font-size: 20px !important
  }

  .highcharts-axis-labels{
    font-size: 14px !important
  }

  .highcharts-axis-labels .highcharts-xaxis-labels{
    font-size: 14px !important
  }

  .highcharts-axis-labels .highcharts-yaxis-labels{
    font-size: 14px !important
  }

  .highcharts-caption{
    font-size: 22px !important
  }
  
  .highcharts-data-label {
  font-size: 14px !important
  }

}


@media (min-width: 992px) {
  .highcharts-title{
    font-size: 25px !important
  }

  .highcharts-subtitle{
    font-size: 20px !important
  }

  .highcharts-axis-labels{
    font-size: 14px !important
  }

  .highcharts-axis-labels .highcharts-xaxis-labels{
    font-size: 14px !important
  }

  .highcharts-axis-labels .highcharts-yaxis-labels{
    font-size: 14px !important
  }

  .highcharts-caption{
    font-size: 22px !important
  }
  
  .highcharts-data-label {
  font-size: 14px !important
  }


}
